---
import Nav from "../components/nav.astro";
import "./background.css";
import "../styles/global.css";
const { title = "Alex Ocegueda Castro Portfolio", description = "Welcome to the other side of sanity." } = Astro.props;
---
<style>
	footer {
		display: flex;
		justify-content: center;
	}

</style>
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0" />
			<title>{title}</title>
			<meta name="description" content={description} />

			<!-- Open Graph / social tags -->
			<meta property="og:title" content={title} />
			<meta property="og:description" content={description} />
			<meta property="og:type" content="website" />

			<link rel="icon" href="/favicon.ico" />
			<link rel="stylesheet" href={global} />
			<link rel="stylesheet" href={background} />
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin	>
			<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">	
		</head>

		<body>
			<header>
				<Nav></Nav> 
			</header>

			<main>
				<slot />
				<pre class="ascii-bg">
███████████████████████████
███████▀▀▀░░░░░░░▀▀▀███████
████▀░░░░░░░░░░░░░░░░░▀████
███│░░░░░░░░░░░░░░░░░░░│███
██▌│░░░░░░░░░░░░░░░░░░░│▐██
██░└┐░░░░░░░░░░░░░░░░░┌┘░██
██░░└┐░░░░░░░░░░░░░░░┌┘░░██
██░░┌┘▄▄▄▄▄░░░░░▄▄▄▄▄└┐░░██
██▌░│██████▌░░░▐██████│░▐██
███░│▐███▀▀░░▄░░▀▀███▌│░███
██▀─┘░░░░░░░▐█▌░░░░░░░└─▀██
██▄░░░▄▄▄▓░░▀█▀░░▓▄▄▄░░░▄██
████▄─┘██▌░░░░░░░▐██└─▄████
█████░░▐█─┬┬┬┬┬┬┬─█▌░░█████
████▌░░░▀┬┼┼┼┼┼┼┼┬▀░░░▐████
█████▄░░░└┴┴┴┴┴┴┴┘░░░▄█████
███████▄░░░░░░░░░░░▄███████
██████████▄▄▄▄▄▄▄██████████
███████████████████████████	
				</pre>
				<!-- <pre class="ascii-bg">
 ^-^  / \```-_-```|__============\\
( *w*)   \```-_-```   =============]]
c(")(")`-`)```-_-```|--(x)-----(x)--|
||=[__]=||\       /_________________
||======|| \:-"""-.                 
||======||\ /-=-*  \----------------.
||======||(_|o o/  |_  - - - - - - .`
||======||  / " \  ,_)----------   -
||======||  \_^_/_/-   - - - - - - `.
||=[__]=||____/  )|- - - - - - - -..
||==\___________/ |- - - - - - - - -
				</pre> -->
			</main>

			<footer>
				<p>© {new Date().getFullYear()} Alexys Ocegueda Castro </p>
			</footer>
		</body>
	</html>

